header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.name {
  color: MediumAquamarine;
  margin-right: auto;
  padding-left: 10px;
}


.nav {
  display: inline-block;
}

a {
  color: black;
}

main {
  display: flex;


}
.column.large {
  width: 630px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
}

.column.medium {
  width: 300px;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
}

.column.small {
  width: 240px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}
