header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;

}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  

}

.nav {
  display: inline-block;


}

a {
  color: black;
}
